@import url('https://fonts.googleapis.com/css?family=Great+Vibes|PT+Serif:400i');

.sexyFont {
  font-family: 'Playfair Display', serif;
  font-family: 'Great Vibes', cursive;
}

.spicyFont {
  font-family: 'PT Serif', serif;
}

.bubble
{
  position: relative;
  width: 520px;
  height: 85px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  box-shadow:5px 5px 30px black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.containerI {
  position: relative;
  width: 50%;
}

.containerI:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#gradblue {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, #2196F3 , #b3e5fc); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(-45deg, #2196F3, #b3e5fc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to -45deg, #2196F3 , #b3e5fc); /* Standard syntax */
}

#gradwhite {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, white , #81d4fa); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(-45deg, white, #81d4fa); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to -45deg, white , #81d4fa); /* Standard syntax */
}

#gradwhitenav {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-45deg, white , #03a9f4); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(-45deg, white, #03a9f4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to -45deg, white , #03a9f4); /* Standard syntax */
}

#backgrounds {
  background: url(Images/hands.jpg);
  background-size:auto;
}

body {
    background-image: url("Images/hands.jpg");
}

.tag {
  display:none;
  margin-left:-50%;
  font-size:14px;
  margin-top:10px;
  text-align:center;
  color:black;
  display:block;
}
